p{
    font-size: 18px;
    text-align: center;
}

.sub-title{
    /*  background-color: red;
      height: 100%;*/
      text-align: center;
}
    
.access_title{
    /*width: 400px;
    height: 71px;*/
    margin: 5%;
    width: 70%;
    max-width: 400px;
    max-height: 71px;
}

.car_title, .bus_title{
    width: 50%;
    max-width: 400px;
    max-height: 71px;
}

.accent{
    color: #F38524
    ;
}
.carpet{
    background-color: white;
    margin: 0 5% 5% 5%;
    border-radius: 10px;
}

.map{
    position: relative;
    height: 300px;
}

.googlemap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    height: 200px;
}
.sentence{
/*    width: 50%;*/
    margin: 0 auto;
}
.sentence p{
    text-align: center;
}

@media screen and (min-width: 1001px){
    section#page_access iframe{
        height: 200px;
    }
}

/*
@media screen and (max-width: 470px) {
	section#access_map iframe {
		width: 95%;
		height: 200px;
	}
}
@media screen and (min-width: 471px) {
	section#access_map iframe {
		width: 80%;
		height: 500px;
	}
}
section#access_map {
}
	section#access_map p {
		line-height: 2em;
		margin: 1em 0em;
		text-align: center;
	}
	section#access_map p span.a_m_distance {
        font-size: 18pt;
        font-weight: bold;
        color: #FABA00;
        text-shadow: 1px 1px 3px rgba(250, 140, 0, 0.5);
	}
	section#access_map iframe {
		background-color: #FFF;
		background-color: rgba(255, 255, 255, 0.7);
		background-image: url("../image/loading.gif");
		background-size: 64px;
		background-position: center center;
		background-repeat: no-repeat;

		border: 1px solid #CCC;
		border-radius: 5px;
		box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
		display: block;
		margin: 0 auto;
		padding: 5px;
	}

@media screen and (min-width: 1001px) {
    section#page_access iframe{
        width: 95%;
        height: 500px;
    }
}
*/

