#page-event {
  margin: 5%
}

#list-game, #list-food, #list-others, #list-band {
  height: 90%;
  min-height: 600px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* 初めてページを訪れたときの初期状態 */
#list-game {
  display: block;
}
#list-food, #list-others, #list-band {
  display: none;
}

/* button */
.button-event {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
#button-game, #button-food, #button-others, #button-band{
  width: 20%;
/*  padding: 2%;*/
  border-radius: 5px;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/
}
#button-game {
  background-color: #577342;
}
#button-food, #button-others, #button-band{
  background-color: #ece3d4;
}
#button-game img, #button-food img, #button-others img, #button-band img {
  width: 100%;
}
#button-game:hover, #button-food:hover, #button-others:hover, #button-band:hover {
  cursor: pointer;
  background-color: #577342;
}

/* 注意事項 */
.attention-event {
  margin: 2% 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* 注意事項開閉用 */
.attention-toggle {
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.attention-toggle h3 {
  margin: 2% 0;
  color: #f38524;
  font-size: 24px;
}
.triangle {
  position: relative;
  top: 5px;
  border-top: 10px solid #f38524;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-top-width: 15px;
}
/* 注意事項中身 */
.attention-list {
  margin: 0 5%;
}
.attention-title {
  margin: 0;
  color: #313131;
}
.attention-text{
  margin-top: 0;
  margin-bottom: 5%; 
  padding: 0;
  list-style: none;
  color: #313131;
}
.attention-text li::before {
  content: "■ ";
  color: #f38524;
}
.attention-list > p {
  color: #313131;
  padding-bottom: 2%;
  font-size: 10pt;
}



/* 各企画・イベントのリスト */
.cell {
  padding: 2%;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: flex-start;
}
.subtitle-event {
  display: block;
  margin: 0 auto;
  height: 50px;
}
.cell img {
  width: 20%;
  height: 20%;
}
.cell-text {
  margin-left: 2%;
}
.cell-text p {
  text-align: left;
}
.cell-title {
  color: #f38524;
  font-size: medium;
}
.cell-grade {
  color: #313131;
  font-size: small;
}
.cell-place {
  color: #f38524;
  font-size: small;
}

@media screen and (max-width: 660px) {
  #button-game, #button-food, #button-others, #button-band {
 /*   width: 30%;*/
    padding: 10px;
  }
  #button-game img, #button-food img, #button-others img, #button-band img {
    width: 100%;
  }
  .subtitle-event {
    height: 70px;
  }
  .cell {
    padding: 10px;
    align-items: center;
  }
  .cell img {
    width: 100px;
    height: 100px;
  }
}