#page-event {
  margin: 5%
}

#list-game, #list-food, #list-others {
  height: 90%;
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

/* 初めてページを訪れたときの初期状態 */
#list-game {
  display: block;
}
#list-food, #list-others {
  display: none;
}

/* button */
.button-event {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
#button-game, #button-food, #button-others {
  width: 30%;
  padding: 2%;
  border-radius: 5px;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/
}
#button-game {
  background-color: #577342;
}
#button-food, #button-others {
  background-color: #ece3d4;
}
#button-game img, #button-food img, #button-others img {
  width: 100%;
}
#button-game:hover, #button-food:hover, #button-others:hover {
  cursor: pointer;
  background-color: #577342;
}

/* 注意事項 */
.attention-event {
  margin: 2% 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.text p {
  text-align: left;
  font-size: small;
}

/* 各企画・イベントのリスト */
.cell {
  padding: 2%;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: flex-start;
}
.subtitle-event {
  display: block;
  margin: 0 auto;
  height: 50px;
}
.cell img {
  width: 20%;
  height: 20%;
}
.cell-text {
  margin-left: 2%;
}
.cell-text p {
  text-align: left;
}
.cell-title {
  color: #f38524;
  font-size: medium;
}
.cell-grade {
  color: #313131;
  font-size: small;
}
.cell-place {
  color: #f38524;
  font-size: small;
}

@media screen and (min-width: 660px) {
  #button-game, #button-food, #button-others {
    width: 30%;
    padding: 10px;
  }
  #button-game img, #button-food img, #button-others img {
    width:50%;
  }
  .subtitle-event {
    height: 70px;
  }
  .cell {
    padding: 10px;
    align-items: center;
  }
  .cell img {
    width: 100px;
    height: 100px;
  }
}