.sub-title-sponsor{
  text-align: center;
}
.sub-title-sponsor > img {
  margin: 5%;
  width: 70%;
  max-width: 400px;
  max-height: 71px;
}

#page-sponsor {
  margin: 0 5% 5% 5%;
  height: 90%;
  min-height: 600px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#sponsor-list {
  padding: 0;
  margin-left: 10px;
  background-color: white;
  text-align: left;
  list-style-type: none;
}
#sponsor-list li {
  color: #313131;
  margin-bottom: 10px;
}
#sponsor-list li::before {
  content: "■ ";
  color: #577342;
}