html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


@font-face {
  font-family: "notosans";
  src: url("../font/NotoSansCJKjp-Medium.otf") format("opentype");
}

body {
    background-color: #FEFEC2;
  /*  background-image: url("../image/bg.png");*/
    background-image: url("../image/ver2.png");
  /*  background-image: url("../image/ver3.png");*/
    font-family: notosans, sans-serif;
}

/* 段落 */
.director_gene{
  display: inline-block;
  text-align: center;
}

.stage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /*text-align: center;*/
}

p{
  margin: 0;
}

.name{
  font-size: 28px;
  color: #577342;
  margin: 0;
}
.position{
  margin: 0;
}
.say_a_word{
  margin-top: 10px;
  margin-bottom: 40px;
}
.carpet{
  background-color: white;
  margin: 0 80px 80px 80px;
  border-radius: 5px;
}


.sub-title{
/*  background-color: red;*/
  height: 100%;
  text-align: center;
}

.staff_title{
  width: 300px;
  height: 71px;
  margin: 50px;
}

img{
  width: 300px;
  height: 390px;
}


/* メニューバー */
#navbarNav {
  position: relative;
  bottom: 90px;
}

.navbar {
  position: sticky;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
  height: 15%;
  max-height: 170px;
}

.navbar-nav {
  background-color: #577342;
  opacity: 0.9;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

.navbar-brand {
  display: flex;
  justify-content: flex-start;
}

.navbar-brand img {
  width: 15%;
  height: 15%;
}

#header-title {
  width: 55%;
}

.navbar-toggler {
  border: none;
  display: flex;
  margin-left: auto;

  position: relative;
  bottom: 145px;
}

.navbar-toggler-icon {
  min-width: 80px;
  min-height: 80px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-left: 5%;
  margin-bottom: 5%;
}

.nav-link img {
  margin-right: 30px;
  width: 10%;
  height: 10%;
}

.nav-link-text p {
  margin: 0;
  color: #ffffff;
}
.text-jp {
  font-size: 35pt;
}
.text-en {
  font-size: 25pt;
}

  
/* 中央寄せのためにdiv生やした */
/*
.sub-title p {
  margin: 40px 0;
  display: inline-block;
  font-size: 30pt;
  color: #577342;
  border-bottom: solid medium #577342;
}
*/


/* トップページのメニューボタン的なやつ */

.top-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.top-menu-button {
  width: 45%;
  margin-bottom: 5%;

  color: #ffffff;
  background-color: #577342;
  border-radius: 10px;

  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.top-menu-button img {
  width: 50%;
  margin-bottom: 5%;
}
.top-menu-button p {
  font-size: 30pt;
  margin: 5%; 
}
/* フッター */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #577342;
}
footer p {
  position: relative;
  top: 40px;
    text-align: center;
    font-size: 15pt;
    color: #ffffff;
    background: none;
    z-index: 2;
}

/* ポスター */
/*
.top-poster img {
  width: 100%;
  height: 100%;
}
*/