@charset "utf-8";

/*Noto Sans Japaneseを読みこむ*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FEFEC2;
/*  background-image: url("../image/bg.png");*/
  background-image: url("../image/ver2.png");
/*  background-image: url("../image/ver3.png");*/
  font-family: 'Noto Sans Japanese', sans-serif;
}

/* スマホ・PCのメニュー */
header {
  width: 100%;
  background: #ffffff;
  position: relative;
}

/* スマホのヘッダとメニュー */
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/* 高専のロゴとか */
.header-img {
  display: flex;
  justify-content: flex-start;
}
.header-img img {
  width: 15%;
  height: 15%;
}
#header-img-title {
  width: 55%;
  height: 55%;
}
/*アイコンのスペース*/
#nav-open {
  position: absolute;
  top: 20%;
  right: 5%;
  display: inline-block;
  width: 10%;
  height: 20%;
  vertical-align: middle;
}
/*ハンバーガーアイコン*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: relative;
  height: 3px;/*線の太さ*/
  width: 100%;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  width: 100%;
  bottom: -10px;
}
#nav-open span:after {
  width: 100%;
  bottom: -18px;
}
/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/*中身*/
#nav-content-sp {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 240px;/*最大幅（調整してください）*/
  height: 100%;
  background: #577342;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(105%);/*右に隠しておく*/
}
#nav-content-title {
  margin: 10% 5%;
  display: inline-block;
  font-size: 20pt;
  color: #ffffff;
  border-bottom: solid medium #ffffff;
}
.nav-content-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-content-link img {
  margin: 5%;
  width: 10%;
}
.nav-content-link > .link-title {
  margin: 0;
  width: 50%;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content-sp {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

/* PCのメニューバーは表示させない */
#nav-drawer-pc {
  display: none;
}

/* 中央寄せのためにdiv生やした */
.sub-title-sp p {
  margin: 5% 0;
  display: inline-block;
  color: #577342;
  border-bottom: solid 1px #577342;

}
.sub-title-sp {
  text-align: center;
}

/* トップページのメニューボタン的なやつ */
.top-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* メニューボタン上段 */
.upper {
  width: 45%;
}
/* メニューボタン下段 */
.lower {
  width: 30%;
}
.top-menu-button {
  margin-bottom: 5%;

  color: #ffffff;
  background-color: #577342;
  border-radius: 10px;

  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}
.top-menu-button img {
  width: 50%;
  margin-bottom: 5%;
}
.top-menu-button p {
  margin: 5%; 
}
.top-menu-pc {
  display: none;
}

/* NOW LOADING */
#loading {
  margin: 0;
  text-align: center;
  width: 40%;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/*PCのトップ画像は表示させない*/
#top-image, #illustrator {
  display: none;
}

/* フッター */
footer {
  position: relative;
  bottom: -30%;
  width: 100%;
  height: 50px;
  background-color: #577342;
}
footer p {
  margin: 0;
  position: relative;
  top: 25%;
	text-align: center;
	color: #ffffff;
	background: none;
	z-index: 2;
}

/* ポスター */
.top-poster-sp img {
  width: 100%;
  height: 100%;
}

/* ウィンドウ幅xが 660以上 */
@media screen and (min-width: 660px) {
  header, .top-poster-sp, .top-menu, .sub-title-sp {
    display: none;
  }
  /* PC版メニューバー */
  #nav-drawer-pc {
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
  }
  #nav-content-pc {
    margin: 0;
    width: 240px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  #nav-content-title-logo-pc, #nav-content-title-date-pc {
    width: 70%;
  }
  #nav-content-title-logo-pc {
    margin-top: 5%;
    width: 50%;
  }
  #nav-content-pc > .nav-content-link {
    cursor: pointer;
  }
  #nav-content-pc > .nav-content-link img {
    width: 15%;
  }
  #nav-content-pc > .nav-content-link > .link-title {
    width: 60%;
  }

  /* トップ */
  main {
    margin-left: 250px;
  }
  #top-image {
    display: block;
    width: 100%;
    min-height: 600px;
    max-height: 700px;
    object-fit: cover;
    object-position: 100% 0;
  }

  /* 小見出し的な */
  .sub-title p {
    font-size: 20pt;
  }

  /* でっかい四角いやつ */
  .top-menu-pc {
    display: block;
    width: 90%;
    max-height: 600px;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  .top-menu-pc > .title {
    margin-top: 2%;
    margin-left: 2%;
    width: 40%;
  }
  
  /* でっかくて少し小さい四角いやつ */
  .top-menu-pc-small {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .top-menu-pc-small > .top-menu-pc {
    margin: 0;
    width: 31%;
    height: 300px;
  }
  .top-menu-pc-small > .top-menu-pc > .title {
    width: 100%;
    max-width: 300px;
  }
  /* でっかいやつのbackground */
  #top-menu-event {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(../image/top-background/event.JPG);
    background-size: cover;
    background-position: center;
  }
  #top-menu-timetable {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(../image/top-background/timetable.JPG);
    background-size: cover;
    background-position: right;
  }
  #top-menu-poster{
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(../image/poster.png);
    background-size: cover;
    background-position: center;
  }
  #top-menu-sponsor{
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(../image/top-background/sponsor.jpg);
    background-size: cover;
    background-position: center;
  }
  #top-menu-staff {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(../image/staff/Myu_Shimabukuro.JPG);
    background-size: cover;
    background-position: left;
  }
  #top-menu-access {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(../image/top-background/access.jpg);
    background-size: cover;
    background-position: left;
  }
  #top-menu-backnumber {
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5)), url(../image/top-background/backnumber.JPG);
    background-size: cover;
    background-position: left;
  }
  /* see more */
  /*位置調整*/
  p#top_seemore{
    width: 90%;
    text-align: right;
  }
  /*大きさ設定*/
  .see-more-pc {
    cursor: pointer;
    width: 30%;
  }

  .see-more-pc-small{
    cursor: pointer;
    width: 50%;
  }
  /*枠*/
  .see-more-pc, .see-more-pc-small{
    background-color: #F38524;
    border-radius: 50px;
    padding: 0 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .2s;
    max-width: 200px;
    max-height: 67px;
  }
  .see-more-pc:hover, .see-more-pc-small:hover{
    background-color: #FFBA55;
  }
  /*see more active時*/
  .see-more-pc:active, .see-more-pc-small:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
  }
}