.sub_title{
  text-align: center;
}
.timetable_title{
    /*width: 400px;
    height: 71px;*/
    margin: 5% auto;
    width: 70%;
    max-width: 400px;
    max-height: 71px;
}
/*
.button_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  /*margin: 25px 50px 100px 50px;
}*/

/*注意事項*/
.attention_wrapper{
/*  position: relative;*/
  background-color: white;
  margin: 2% 0;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.attention p{
  text-align: left;
  font-size: small;
}

#page-timetable {
  margin: 5%;
}

/*#page-timetable > p{
  background-color: white;
  font-size: 18px;
  display: inline-block;
  text-align: left;
}*/

.timetable_carpet{
  height: 90%;
  min-height: 600px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
/*button*/
.button_wrapper{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
#arina_button{
  background-color: #577342;
}
#stilt_button, #others_button{
  background-color: #ECE3D4;
}
#arina_button, #stilt_button, #others_button{
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/
}
#arina_button img, #stilt_button img, #others_button img {
  width: 50%;
}
#arina_button:hover, #stilt_button:hover, #others_button:hover{
  cursor: pointer;
  background-color: rgb(87, 115, 66);
}
/*ページにとんだときの最初のtimetableの表示*/
.arina_timetable{
  display: block;
}
.stilt_timetable, .others_timetable{
  display: none;
}

/*timetableの表示*/
.arina_timetable, .stilt_timetable, .others_timetable{
  width: 80%;
  margin: 0 10%;
  /*position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);*/
}

/*window幅が768 < x < */
/*window幅がx < 768*/
/*@media screen and (min-width: 768px) and (max-width:1001px){
  .timetable_carpet{
    background-color: transparent;
  }
}*/

/*スマホ版*/
@media screen and (max-width: 660px){
  .arina_timetable, .stilt_timetable, .others_timetable {
    width: 90%;
    margin: 0 5%;
  }
  #arina_button, #stilt_button, #others_button{
    width: 30%;
    padding: 2%;
    border-radius: 5px;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/
  }
  #arina_button img, #stilt_button img, #others_button img {
    width: 100%;
  }
}
